:root {
    --primary-color: #D7D7D9;
    --secondary-color: #024959;
    --accent-color: #026873;
    --heading-font: "Verdana", "Arial", sans-serif;
    --body-font: "Garamond", "Times New Roman", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Class selectors */

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}
