:root {
    --primary-color: #D7D7D9;
    --secondary-color: #024959;
    --accent-color: #026873;
    --heading-font: "Verdana", "Arial", sans-serif;
    --body-font: "Garamond", "Times New Roman", serif;
}

/* Global initial modifications */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
}

/* Header and Navigation menu */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}
    /* Logo */
header img {
    width: 100px;
    height: auto;
    margin: 1rem 0;
}

    /* Class selectors - navigation menu */
.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
    text-align: end;
}

.navigation a {
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.navigation a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Main part of the page */
body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2 {
    text-align: center;
    padding: 0.5rem;
}

figure {
    display: flex;
    flex-flow: column;
    margin: 1.2rem auto 0;
    border: 1px solid var(--primary-color);
    padding: 0.2rem;
}

figcaption {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: small;
    padding: 5px 0;
}

    /* Class selectors */
.hero {
    position: relative;
}

.hero img, .history img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr;
    align-items: center;
}

.history h2, .adventure h2 {
    grid-column: 1 / -1;
    background-color: rgba(215, 216, 217, 0.5);
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2px;
}

.adventure img {
    width: 100%;
    height: auto;
}

/* Footer of the page */
footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-top: 1px solid var(--primary-color);
    margin-bottom: 1rem;
}

    /* Class selectors -social media logos */
footer p, .socialmedia {
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}