:root {
    --primary-color: #D7D7D9;
    --secondary-color: #024959;
    --accent-color: #026873;
    --heading-font: "Verdana", "Arial", sans-serif;
    --body-font: "Garamond", "Times New Roman", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Initial modifications */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
}

/* Header and Navigation menu */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}
    /* Logo */
header img {
    width: 100px;
    height: auto;
    margin: 1rem 0;
}

    /* Class selectors - navigation menu */
.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
    text-align: end;
}

.navigation a {
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.navigation a:hover {
    color: var(--accent-color);
    /* text-decoration: underline; */
}

/* ABOUT US PAGE */
/* Main part of the page */
body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

h1, .call_to_act figcaption {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2 {
    text-align: center;
    padding: 0.5rem;
    grid-column: 1 / -1;
    background-color: rgba(215, 216, 217, 0.5);
}

figure {
    display: flex;
    flex-flow: column;
    margin: 1.2rem auto 0;
    border: 1px solid var(--primary-color);
    padding: 0.2rem;
}

figcaption {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: small;
    padding: 5px 0;
}

    /* Class selectors */
.hero {
    position: relative;
}

.hero img, .history img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr;
    align-items: center;
}

/* .history h2, .adventure h2, .profiles h2 {
    grid-column: 1 / -1;
    background-color: rgba(215, 216, 217, 0.5);
} */

.adventure, .profiles, .call_to_act {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2px;
}

.adventure img, .profiles img {
    width: 100%;
    height: auto;
}

/* Footer of the page */
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--primary-color);
    margin-bottom: 1rem;
}

    /* Class selectors -social media logos */
footer p, .socialmedia {
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

/* CONTACT US PAGE */
.contact {
    display: grid;
    grid-template-columns: 350px 1fr;
    margin-top: 0;
}

.info, .contact h1 {
    text-align: center;
    grid-column: span 2;
    margin-bottom: 0.7rem;
}

.contact h1, .newsletter h2 {
    position: initial;
    background-color: initial;
    padding: 0;
    font-size: 1.8rem;
}

.info p {
    position: relative;
    padding: 0;
    margin: 0.2rem;
    font-weight: 600;
}

    /* Google Maps */
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

form {
    margin: 0 auto;
    max-width: 80%;
    font-family: var(--heading-font);
    font-size: 0.8rem;
    text-align: start;
    align-items: center;
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    row-gap: 5px;
}

input, textarea, button, .subscribe label, #purpose label {
    padding: 0.2rem 0.4rem;
    margin: 0.3rem 0;
}

#purpose {
    display: flex;
    flex-direction: column;
}

#message {
    width: 100%;
}

#subscribe {
    margin: 0;
}

.message, .subscribe, button {
    grid-column: span 2; 
}

.subscribe label {
    align-items: center;
}

    /* Team members profiles */
.profiles {
    grid-template-columns: 1fr 1fr 1fr;
}

.profiles img {
    width: 180px;
    height: auto;
}

/* HOME PAGE SPECIFIC */
.newsletter {
    max-width: 50%;
    padding: 2rem 0;
    margin: auto;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    background-color: var(--secondary-color);
    background-blend-mode: multiply;
    color: var(--primary-color);
    text-align: center;
}

.call_to_act {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
}

.call_to_act figure {
    position: relative;
    margin: 0.5rem 0;
    padding: 0;
}

.call_to_act figcaption {
    font-size: 1rem;
    font-weight: 600;
    left: 0;
}

#family_trips {
    grid-column: 4 / 5;
}

#family_trips, #rivers {
    max-width: 250px;
    height: auto;
}

#international_trips, #rapids {
    grid-column: 1 / -1;
    max-width: 100%;
    height: auto;
}

.highlighted-phrase, .highlighted-phrase a {
    color: var(--accent-color);
    font-family: var(--body-font);
    font-size: 1.5rem;
}

.highlighted-phrase {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    text-align: center;
    margin: auto;
    padding: 1rem;
}