table {
    border: 3px solid grey;
    border-collapse: collapse;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

th, td {
    padding: 0.5rem 1rem;
    border: 1px solid grey;
    text-align: center;
}

thead th, tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}

.highlighted {
    background-color: rgb(230, 230, 230);
}