:root {
    --border-main: 1px solid #000;
    --main-color: rgb(54, 54, 54); /* For the main title, navigation bar and visual divisions */
    --background-color: #eee;
    --predefined-shadow: 0 0 30px #777;
    --padding: 0;
}

/* Navigation bar */
nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--background-color);
    display: block;
    padding: 20px;
}

/* My profile */
main {
    max-width: 840px;
}

h1 {
    color: var(--main-color);
}

p {
    padding: 0;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-main);
    padding: 2px;
    box-shadow: var(--predefined-shadow);
}

/* Information about my country */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 10px;
    border-top: var(--border-main);
    text-align: center;
}
