body {
    width: 600px;
    margin: auto;
    font-family: sans-serif;
}

header, footer {
    background-color: #333;
    padding: 1px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
}

footer {
    font-size: 1rem;
}

main {
    max-width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.7rem;
}

main img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px #666;
}

section {
    width: 90%;
    border: 1px solid rgb(90 90 90 / 0.2);
    background-color: rgb(90 90 90 / 0.2);
    padding: 5%;
    margin: 20px auto;
    
}

section h2 {
    border-bottom: 1px solid #000;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -10px;
}